.contenedor
    background: #000
    height: 690px
    .menu-principal
        margin: 12.5px
        text-align: center
        position: fixed
        z-index: 1000
        top: 0
        
        .menu a
            padding: 7px
            color: #fff
            text-decoration: none 
            font-size: 1.5em
            margin: 0 60px
            letter-spacing: 5px
        .menu a:hover
            background: #FFEB37
            color: #000     