.principal
    font-size: 1em
    overflow: hidden
    width: 100% 
    .acerca-de
        background: #fff
        text-align: center
        padding: 1px 0
        padding-bottom: 20px
        line-height: 45px
        letter-spacing: 7px
.acerca-de-titulo
    text-align: center
    font-size: 3em
    margin: 75px