* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background: #FFEB37;
  font-family: 'B612 Mono', monospace;
  font-size: 16px;
}
.container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
/*--------------------------- HEADER----------------------------------------*/
header { 
  background: #000;
  height: 450px;
color: #fff;
background-position: center;
max-height: 600px;
}

header .menu {
  margin: 40px 0;
  text-align: center;

}
header .menu a {
  margin: 0 50px;
  color: #fff;
  padding-bottom: 0px;
  display: inline-block;
  text-decoration: none;
  border-bottom: 2px solid  transparent;
  font-size: 1em;
}
header .menu a:hover {
  background: #FFEB37;
  border: 2px solid #000;
  color: #000;
  height: 25px;
}
header .text-container {
  justify-content: center;
  align-content: center;
  display: inline;
}
header .text-container .name {
  text-align: center;
  justify-content: center;
  font-size: 3.5em;
  margin-top: 75px;
}
header .text-container .profession {
  text-align: center;
margin-top: 20px;
}
header .text-container .name h1,
header .text-container .profession h2 {
 color: #fff;
 margin: 20px;
 font-weight: bold;
}
/*---------------------------------MAIN-----------------------------------*/

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
}
.about {
  background: #fff;
  padding: 20px;
  margin: 10px 20px 40px 20px;
}
.about-title {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 20px;
  font-size: 2em;
}
.text-span {
  text-decoration: underline;
  font-weight: bold;
}
.text-span:hover {
  background: #000;
  color:#FFEB37;
}
.main-title {
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 10px;
  font-size: 1.5em;
}

.main-works {
  padding: 60px 0;
}
.main .container .main-works {
  overflow: hidden;
}
.main .container .main-works {
  font-size: 2em;
  line-height: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #000;
  text-align: center;
}
.main .container .works-panel {
  margin-left: 40px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify: space-between;
  justify-content: center;
}
.main .container .works-panel .each-work {
  text-align: center;
  width: 25%;
  margin-bottom: 10px;
}
.main .container .works-panel .each-work .svg-container {
  width: 100%;
  margin-bottom: 10px;
  margin: auto;
}
.main .container .works-panel .each-work svg {
  
}
.main .container .works-panel .each-work .description {
margin-top: 0px;
line-height: 7px;
margin-right: center;
}

.main .container .works-panel .each-work .description .name {
  font-weight: normal;
  color: #000;
  font-size: .5em;
  margin-bottom: 10px;
  text-align: center;
}
.main .container .works-panel .each-work .description .category {
  font-size: .35em;
  font-weight: normal;
  text-align: center;
}