*
  padding: 0
  margin: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
    box-sizing: border-box
  font-size: 16 px
  font-family: "B612 Mono"
body 
  background: #FDE100

  
  @import  menu
  @import works